<!DOCTYPE html>
<html>
<head>
  block head
  <link rel="stylesheet" href="/styles.css">
  meta(name='vieport', content= 'width=device-width,initial-scale:1.0')

</heade>
<header>
 
 <a href="/"> Home </a>
span  |
 <a href="/urls"> Short Urls </a>
span  |
 <a href="/add-url"> Add Urls </a>
</header>
<main>
  block content
</main>


footer
  <span>   (C) 2023 Portfolio Url Shortener</span>

</html>
